[basic]
10.0.0.1 consul,nginx,mongodb,mysql,zk(config),rabbitmq
10.0.0.2 usermgr,iam,ssm,cmdb,job,nodeman(nodeman)
10.0.0.3 paas,license,appo,gse,redis,es7
10.0.0.3 beanstalk,auth

[bkmonitorv3]
10.0.0.4 kafka(config),influxdb(bkmonitorv3),monitorv3(influxdb-proxy),monitorv3(monitor),monitorv3(grafana),monitorv3(transfer),monitorv3(ingester)

[bklog]
10.0.0.5 log(api),log(grafana)