[basic]
10.0.0.1 consul,mongodb,mysql,zk(config),rabbitmq,etcd,iam_search_engine
10.0.0.2 usermgr,iam,ssm,cmdb,job,nodeman(nodeman),redis_cluster,nginx
10.0.0.3 paas,appo,gse,redis,es7,beanstalk,auth,apigw

[bkmonitorv3]
10.0.0.4 kafka(config),influxdb(bkmonitorv3),monitorv3(influxdb-proxy),monitorv3(monitor),monitorv3(grafana),monitorv3(transfer),monitorv3(ingester)

[bklog]
10.0.0.5 log(api),log(grafana)